.cabecera{
    background-color: aqua;
    width: 35%;
    text-align: center;
    margin: auto;
}

.titulo1{
    color: red;
    
}
.barra_navegacion{
    background-color: #46928B;
    margin-top: 2px;
    
    text-align: center;
}
span li {
    display: inline;
    padding: 10px;
}
span li a {
    color: white;
}
body{
    background-color: #325955;
}

.form1{
    margin: auto;
    padding: 15px 0px;
    width: 45%;
    text-align: center;
    background-color: rgb(0, 255, 51);
}
.table_persona{
    width: 100%;
}
table, th, td{
    border: 1px solid white;
    border-collapse: collapse;
}
td{
    text-align: center;
}
th{
    background-color: red;
}
.btn_edit{
    text-align: center;

}