{% extends 'main/main.html'%}

{%block title%}
    Persona
{% endblock %}

{%block header %}
    <h1 class="titulo1">
        Crear persona
    </h1>
{% endblock %}
{%block nav %}
    {% include 'persona/barra_nav.html' %}
{% endblock %}

{%block content %}
    <form method="post" class="form1">
        {% csrf_token %}
        <h3> Desea eliminar {{persona.dni }} </h3>
                
        <button type="submit">Guardar</button>
        <a href="{% url 'persona:persona_listar' %}">cancelar</a>
    </form>
{% endblock %}